@using Lopes.Botmaker.Application.Models
@model IEnumerable<UsuarioIntegracao>;
@{
    ViewData["Title"] = "Integração Botmaker";
}

<div class="row">
    <div class="col-4">
        <div class='input-group mb-3'>
            <div class='input-group-prepend'>
                <span class='input-group-text bi-search' id='basic-addon1'></span>
            </div>
            <input type='text' id="pesquisa" class='form-control' placeholder='Pesquisar usuário' aria-describedby='basic-addon1'>
        </div>
    </div>
    <div class="col-4">
        
    </div>
</div>
<div class="" id="principal" > 
    @foreach (UsuarioIntegracao usuario in Model)
    {
        var classDesatualizado = usuario.Acao != "Atualizado" ? "desatualizado" : "";

        <div class="usuario @classDesatualizado">
            <div class="row">
                <div class="col-4">
                    <b>@(usuario.UsuarioSistema?.Nome ?? usuario.UsuarioBotmaker.name)</b>
                </div>
                <div class="col-4 ">
                     @(usuario.UsuarioSistema?.Email ?? usuario.UsuarioBotmaker.email)
                </div>
                <div class="col-1">
                    <button class='bi bi-plus btn-mais-info' title="Exibir mais informações do usuário"></button>
                </div>
                <div class="col-3">
                    @if(@usuario.Acao == "Atualizado")
                    {
                        <span class="atualizado">@usuario.Acao</span>
                    }
                    else
                    {
                        <button class="btn btn-primary">@usuario.Acao</button>
                    }
                </div>
            </div>
            <div class='row mais-info mais-info-@usuario.Cpf' style="display:none">
                <div class="col-2" title="Cpf">@usuario.Cpf</div>
                <div class="col-2" title="Apelido">@usuario.Apelido</div>
                <div class="col-4" title="Nome e e-mail do supervisor">Sup: @usuario.NomeSupervisor (@usuario.EmailSupervisor)</div>
                <div class="col-3" title="E-mail do diretor">Dir: @usuario.EmailDiretor</div>
            </div>
            <hr style="margin:0;"/>
        </div>
    }
</div>
<style>
    #principal{
        overflow:auto;
        overflow-x:hidden;
        height:800px;
    }
    #principal .row {
        padding: 5px;
    }
    .atualizado {
        color:lightgreen;
        font-weight: bold;
    }
    .desatualizado {
        background-color:lightyellow;
    }
    .mais-info{
        font-weight:normal;
    }
</style>
@section Scripts
{
    <script>
        $(document).ready(function() {

            $('#pesquisa').keyup(function() {
                var texto = $(this).val();
                if (texto != undefined && texto != '') { 
                    $('.usuario').hide();

                    var pesquisa = $('.usuario').filter(function() {
                        return $(this).text().toLowerCase().indexOf(texto.toLowerCase()) >= 0;
                    });
                    $(pesquisa).show();
                }
                else {
                    $('.usuario').show();
                }
            });

            $('.btn-mais-info').click(function() {
                $(this).parent().parent().parent().find('.mais-info').slideToggle(200);
            });
        });
    </script>
}